@charset "utf-8";
/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);*/
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700);
@font-face{
    font-family: 'ionicons';
    src: url(../fonts/ionicons.woff) format('woff');
}
body{
    background-color: #f5f7fa;
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Source Sans Pro', sans-serif;
}
a:active,
a:focus,
a:hover{
    text-decoration: none;
    outline: none;
}
button:active,
button:focus,
button:hover{
    text-decoration: none;
    outline: none;
}
input[type="submit"]:active,
input[type="submit"]:focus,
input[type="submit"]:hover{
    text-decoration: none;
    outline: none;
}
input[type="button"]:active,
input[type="button"]:focus,
input[type="button"]:hover{
    text-decoration: none;
    outline: none;
}
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
    outline: none;
    border: none;
    text-decoration: none;
}
.bd_clear{
    clear: both;
}
.pop_overlay{
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
}
.pop_overlay img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
}
.wrapper{
    width: 100%;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.wrapper.give_way{
    padding-left: 250px;
}
.header{
    background-color: #36459b;
    position: relative;
    z-index: 99;
}
.logo{
    float: left;
}
.logo img{
    max-width: 50px;
}
.nav_toggler{
    float: left;
    margin-right: 50px;
    padding-top: 15px;
}
.nav_toggler span{
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    color: #FFF;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.nav_toggler span:hover{
    color: #a2b0ff;
}
.header_nav{
    float: left;
}
ul.header_main_nav{
    margin: 0px;
    padding: 0px;
}
ul.header_main_nav > li{
    list-style: none;
    float: left;
    position: relative;
}
ul.header_main_nav > li > a{
    display: inline-block;
    padding: 15px;
    color: #FFF;
    font-size: 15px;
    border-left: 1px solid #1c2e96;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
ul.header_main_nav > li:last-child > a{
    border-right: 1px solid #1c2e96;
}
ul.header_main_nav > li.has_child > a > span.nav_text{
    display: inline-block;
    margin-right: 30px;
}
ul.header_main_nav > li.has_child > a > span.drop_ico{
    display: inline-block;
}
ul.header_sub_nav{
    margin: 0px;
    padding: 0px;
    position: absolute;
    min-width: 100%;
    display: none;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.header_nav ul.header_sub_nav{
    margin-top: 1px;
}
.header_nav ul.header_sub_nav{
    left: 0;
}
ul.header_sub_nav > li{
    list-style: none;
}
ul.header_sub_nav > li > a {
    display: block;
    background-color: #FFF;
    color: #333;
    padding: 6px 15px;
    border-bottom: 1px solid #f0f0f0;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
ul.header_sub_nav > li > a:hover{
    background-color: #f0f0f0;
    color: #333;
}
.header_user_controls{
    float: right;
}
.header_user_controls ul.header_sub_nav{
    right: 0px;
    min-width: 150px;
}
.header_user_controls ul.header_main_nav > li > a {
	border: none;
}
.header_user_controls ul.header_main_nav > li.has_child > a > span.nav_text {
    margin-right: 7px;
}
/*.header_user_controls ul.header_main_nav > li > a i{
	font-size: 24px;
}*/
.header_nav ul.header_main_nav > li > a:hover{
    background-color: #1c2e96;
}
.header_user_controls ul.header_main_nav > li > a:hover{
    background-color: #1c2e96;
}
.header_nav ul.header_main_nav > li:hover > a{
    background-color: #1c2e96;
}
.header_user_controls ul.header_main_nav > li > a:hover{
    color: #FFF;
}
.header_user_controls ul.header_main_nav > li:hover > a{
    color: #FFF;
    background-color: #1c2e96;
}
.side_panel{
    position: fixed;
    height: 100%;
    overflow-y: auto;
    left: 0;
    top: 0;
    width: 250px;
    margin-left: -250px;
    z-index: 999;
    background-color: #1C2B36;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.side_panel.opened{
    margin-left: 0px;
}
.app_logo{
    padding: 10px 15px;
    box-shadow: 0 5px 5px -5px #0c161e;
}
.app_logo img{
    max-width: 69px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
.app_logo span{
    font-size: 24px;
    font-weight: 300;
    color: #FFF;
    display: inline-block;
    vertical-align: middle;
}
ul.side_nav{
    margin: 0px;
    padding: 0px;
}
ul.side_nav  > li{
    list-style: none;
}
ul.side_nav  > li > a{
    display: block;
    width: 100%;
    padding: 6px 15px;
    color: #a7b1c2;
    font-weight: 300;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border-left: 3px solid transparent;
}
ul.side_nav  > li > a.active{
    background-color: #15232D;
    color: #FFF;
    border-left: 3px solid #1c2e96;
}
ul.side_nav  > li > a:hover{
    background-color: #15232D;
    color: #FFF;
    border-left: 3px solid #1c2e96;
}
ul.side_nav  > li:hover > a{
    background-color: #15232D;
    color: #FFF;
    border-left: 3px solid #1c2e96;
}
.side_nav_ico{
    display: inline-block;
    font-size: 18px;
    min-width: 18px;
    vertical-align: middle;
}
.side_nav_text{
    display: inline-block;
    vertical-align: middle;
}
.side_nav_drop_ico{
    display: inline-block;
    float: right;
    margin-top: 4px;
}
.side_nav_drop_ico::before{
    font-family: 'ionicons';
    content: "\f3d0";
    font-size: 12px;
}
ul.side_sub_nav{
    margin: 0px;
    padding: 0px;
    display: none;
}
ul.side_sub_nav.active{
    display: block;
}
ul.side_sub_nav  > li{
    list-style: none;
}
ul.side_sub_nav  > li > a{
    display: block;
    padding: 5px 15px 5px 30px;
    color: #a7b1c2;
    background-color: #15232D;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
ul.side_sub_nav  > li > a:hover{
    color: #FFF;
    background-color: #15232D;
}
.bd_panel{
    box-sizing: border-box;
    margin: 15px 0px;
    box-shadow: 0px 0px 5px #C6C6C6;
}
.bd_panel_bordered{
    border: 1px solid #36459b;
}
.bd_panel_head{
    padding: 10px 15px;
}
.bd_panel_default .bd_panel_head{
    background-color: #FFF;
    color: #333;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.bd_panel_default .bd_panel_footer{
    background-color: #FFF;
    color: #333;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    padding: 10px 15px;
}
.bd_panel_head h3{
    margin: 0px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.bd_panel_body{
    background-color: #FFF;
    padding: 15px;
}
.panel_row:before,
.panel_row:after{
    display: table;
    content: " ";
}
.panel_row:after{
    clear: both;
}
.panel_col{
    float: left;
    width: 50%;
    padding: 7px 15px;
}
.default_form label{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: normal;
}
.default_form input[type="text"]{
    display: block;
    width: 100%;
    height: 34px;
    padding: 0px 10px;
}
.default_form input[type="email"]{
    display: block;
    width: 100%;
    height: 34px;
    padding: 0px 10px;
}
.default_form input[type="password"]{
    display: block;
    width: 100%;
    height: 34px;
    padding: 0px 10px;
}
.default_form select{
    display: block;
    width: 100%;
    height: 34px;
}
.default_form input[type="submit"]{
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    display: inline-block;
    background-color: #36459b;
    color: #FFF;
    padding: 5px 20px;
    border: none;
    text-transform: uppercase;
}
.default_form input[type="submit"]:hover{
    background-color: #0f0c9b;
}
.panel_col_full{
    width: 100%;
}
.pop_overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 99999;
}
.session_modal .modal-content{
    border-radius: 0px;
}
.session_modal .modal-header{
    padding: 7px 15px;
}
.session_modal .modal-footer{
    padding: 7px 15px;
}
.session_modal .modal-footer .btn{
    padding: 5px 10px;
}
.session_modal_success .modal-header{
    background-color: #5cb85c;
    color: #FFF;
}
.session_modal_error .modal-header{
    background-color: #d9534f;
    color: #FFF;
}
.page_header{
    background-color: #FFF;
    padding: 10px 15px;
    margin: 0px -15px;
    box-shadow: 0 5px 5px -5px #CCC;
    margin-bottom: 15px;
}
.page_heading{
    float: left;
}
.page_heading h3{
    margin: 0px;
}
.page_controls{
    float: right;
}
.page_search{
    float: left;
    position: relative;
    margin-right: 15px;
}
.page_search input[type="search"]{
    display: inline-block;
    height: 34px;
    border: 1px solid #36459b;
    padding-left: 10px;
    min-width: 200px;
}
.page_search input[type="text"]{
    display: inline-block;
    height: 34px;
    border: 1px solid #36459b;
    padding-left: 10px;
    min-width: 200px;
}
.page_search select {
	display: inline-block;
    height: 34px;
}
.page_search button[type="submit"]{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #36459b;
    border: none;
    font-size: 21px;
    height: 34px;
    line-height: 34px;
    color: #FFF;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.page_search button[type="submit"]:hover{
    background-color: #0f0c9b;
}
.page_nav_menu{
    float: left;
}
ul.page_nav{
    margin: 0px;
    padding: 0px;
}
ul.page_nav > li{
    list-style: none;
    float: left;
}
ul.page_nav > li > a{
    display: inline-block;
    background-color: #36459b;
    color: #FFF;
    padding: 0px 15px;
    height: 34px;
    line-height: 34px;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
ul.page_nav > li > a:hover{
    background-color: #0f0c9b;
    color: #FFF;
}
.page_nav_ico{
    display: inline-block;
    margin-right: 7px;
}
.show_table_wrap{
    background-color: #FFF;
    padding: 15px;
    box-shadow: 0px 0px 5px #C6C6C6;
    margin-bottom: 15px;
}
.show_table tbody tr td:last-child{
    /*min-width: 165px;
    max-width: 165px;*/
    width: 1%;
    white-space: nowrap;
}
.multi_det_table tbody tr td:last-child{
    width: 1%;
    white-space: nowrap;
}
.show_table thead tr th:first-child{
    width: 1%;
    white-space: nowrap;
}
a.show_table_lnk{
    display: inline-block;
    padding: 0px 15px;
    height: 34px;
    line-height: 34px;
    color: #FFF;
    margin: 0px 2px;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
a.show_table_lnk:hover{
    color: #FFF;
}
a.show_table_lnk_view{
    background-color: #36459b;
}
a.show_table_lnk_edit{
    background-color: #5cb85c;
}
a.show_table_lnk_del{
    background-color: #d9534f;
}
a.show_table_lnk_view:hover{
    background-color: #0f0c9b;
}
a.show_table_lnk_edit:hover{
    background-color: #449d44;
}
a.show_table_lnk_del:hover{
    background-color: #c9302c;
}
.form_block{
    margin-bottom: 15px;
}
.form_block_check {
    margin-bottom: 0px;
}
/*.form_block_row .form_block:last-child{
    margin-bottom: 0px;
}*/
.form_block label{
    display: block;
    width: 100%;
}
.form_block label.check_label {
    display: inline-block;
    width: auto;
    margin-left: 10px;
}
.default_form textarea{
    display: block;
    width: 100%;
    min-height: 34px;
    height: 34px;
    min-width: 100%;
    max-width: 100%;
}
.form_block_section_head{
    padding: 0px 15px;
    margin-top: 5px;
}
.form_block_section_head label{
    font-size: 15px;
    font-weight: bold;
}
.login_wrapper{
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(4, 40, 68, 0.85);
}
.mtm {
    text-align: center;
    margin-top: 80px;
}
.mtm img {
    max-width: 120px;
}
.login_inner{
    display: inline-block;
    width: 100%;
    max-width: 300px;
    margin-top: 30px;
    box-shadow: 0px 0px 7px #333;
    background-color: #FFF;
}
.login_head{
    padding: 10px 15px;
    border-bottom: 1px solid #CCC;
}
.login_head h3{
    margin: 0px;
}
.login_form_block{
    padding: 0px 15px;
    margin: 15px 0px;
    text-align: left;
}
.login_form_block_inner{
    position: relative;
    overflow: hidden;
}
.login_form_block input[type="text"],
.login_form_block input[type="password"]{
    display: block;
    width: 100%;
    padding-left: 7px;
    height: 40px;
    border: 1px solid #CCC;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.login_form_block input[type="text"].focus,
.login_form_block input[type="password"].focus{
    padding-left: 42px;
}
.login_form_block input[type="text"]:focus,
.login_form_block input[type="password"]:focus{
    border-color: #36459b;
}
.login_form_block_inner span{
    display: inline-block;
    width: 35px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -35px;
    font-size: 21px;
    background-color: #36459b;
    color: #FFF;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.login_form_block_inner span.focus{
    margin-left: 0px;
}
.login_form_block input[type="submit"]{
    display: inline-block;
    background-color: #36459b;
    color: #FFF;
    padding: 7px 15px;
    border: none;
    text-transform: capitalize;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.login_form_block input[type="submit"]:hover{
    background-color: #0f0c9b;
}
.login_form_block select {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #CCC;
}
.form_divider{
    height: 3px;
    background-color: #CCC;
    margin: 30px 0px;
}
.multi_det{
    margin: 0px -15px;
}
.multi_det_head{
    padding: 10px 15px;
    background-color: #CCC;
}
.multi_det_head h3{
    margin: 0px;
    float: left;
}
.multi_det_control{
    float: right;
}
.bd_modal .modal-content{
    border-radius: 0px;
}
.bd_modal .modal-header{
    background-color: #36459b;
}
.bd_modal .modal-header h4{
    color: #FFF;
}
.airline_submit input[type="submit"]{
    margin-top: 30px;
}
.form_section_head{
    margin: 5px 0px;
}
.form_section_head h3{
    margin: 0px;
    font-size: 17px;
}
.form_section_head_top{
    margin-top: 0px;
}
a.bd_lnk_del{
    display: inline-block;
    padding: 0px 15px;
    height: 34px;
    line-height: 34px;
    color: #FFF;
    margin: 0px 2px;
    background-color: #d9534f;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
a.bd_lnk_del:hover{
    background-color: #c9302c;
    color: #FFF;
}
a.bd_lnk_blu{
    display: inline-block;
    padding: 0px 15px;
    height: 34px;
    line-height: 34px;
    color: #FFF;
    margin: 0px 2px;
    background-color: #2196F3;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
a.bd_lnk_blu:hover{
    background-color: #0C7DD7;
    color: #FFF;
}
a.bd_lnk_disabled{
    display: inline-block;
    padding: 0px 15px;
    height: 34px;
    line-height: 34px;
    color: #333;
    margin: 0px 2px;
    background-color: #CCC;
}
a.bd_lnk_disabled:hover{
    background-color: #CCC;
    color: #333;
	cursor: not-allowed;
}
.ui-datepicker .ui-datepicker-title select {
    color: #000;
}
.modal textarea{
    max-height: 34px;
    min-height: 34px;
    padding: 0px 10px 0px 10px;
}
#package_dynamic {
    margin: 0px -15px;
}
.package_dynamic_box {
    padding: 15px;
    background-color: #ededed;
    margin: 10px 0px;
    /*display: none;*/
}
/*.package_dynamic_box.active {
    display: block;
}*/
h3.pack_dynamic_head {
    padding: 5px 15px;
    margin: -15px -15px 15px -15px;
    background-color: #dadada;
    border-bottom: 1px solid #CCC;
}
.aj_rel_box {
    position: relative;
}
ul.aj_live_items {
    position: absolute;
    z-index: 999;
    margin: 0px;
    padding: 0px;
    width: 100%;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
ul.aj_live_items > li {
    list-style: none;
    background-color: #FFF;
    color: #333;
    padding: 6px 15px;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
    cursor: pointer;
}
ul.aj_live_items > li.selected {
    background-color: #f0f0f0;
}
ul.aj_live_items > li span.pass_mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -145px;
    padding: 6px 15px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFF;
    width: 135px;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
ul.aj_live_items > li.selected span.pass_mobile {
    display: inline-block;
}
ul.aj_live_items > li span.pass_mobile span {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    left: 0px;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid rgba(0, 0, 0, 0.7);;
    border-bottom: 5px solid transparent;
}
.report_table > tbody > tr > td:first-child{
	width: 1%;
	white-space: nowrap;
}
.full_modal {
    width: 100%;
}
.pop_section {
    padding: 15px;
    background-color: #f0f0f0;
    margin-bottom: 15px;
}
h3.pop_section_head {
    margin: -15px -15px 5px -15px;
    padding: 5px 15px 3px 15px;
    background-color: #E3E3E3;
}
.bd_btn {
    display: inline-block;
    color: #FFF;
    padding: 0px 15px;
    height: 34px;
    line-height: 34px;
    border: none;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.bd_btn i {
    margin-right: 5px;
}
.bd_btn_blue {
    background-color: #36459b;
}
.bd_btn_blue:hover {
    background-color: #0f0c9b;
}
.airline_table table > thead > tr:first-child > th {
    background-color: #ddd;
    vertical-align: middle;
    padding: 5px;
}
.bd_btn_red {
    background-color: #d9534f;
}
.bd_btn_red:hover {
    background-color: #c9302c;
}
.bd_btn_green {
    background-color: #5cb85c;
}
.bd_btn_green:hover {
    background-color: #449d44;
}
.airline_table table > thead > tr > th {
    vertical-align: middle;
}
span.air_block {
    display: block;
    text-align: center;
}
.bd_table {
    background-color: #FFF;
}
.bd_table textarea {
    min-height: 34px;
    height: 34px;
}
.bd_table > thead > tr > th {
    vertical-align: middle;
}
.bd_table > thead > tr.table_head > th {
    background-color: #ddd;
}
.bd_table > thead > tr.table_head > th:last-child {
    text-align: right;
}
.bd_table > tbody > tr > td:last-child {
    width: 1%;
    white-space: nowrap;
}
.bd_table > tbody > tr > td:first-child {
    width: 1%;
    white-space: nowrap;
}

/* validation*/
.valid
{
	color: #fe2701;
}
p.validation_mes {
    color: #fe2701;
    display: none;
}
p.validation_mes.active {
    display: block;
}
#error_pop {
    z-index: 99999;
}
.hotel_inner_table {
    min-width: 270px;
    margin-bottom: 0px !important;
}
.hotel_inner_table th {
    padding: 3px !important;
}
.hotel_inner_table td {
    padding: 3px !important;
}
.hotel_inner_table td input[type="text"] {
    height: 25px;
}
.hotel_inner_table td select {
    height: 25px;
}
/*.hotel_outer_table td {
    vertical-align: middle !important;
}*/
/* export excel */
.export,.export:focus,.export:hover {
    cursor: pointer;
    background: #36459b url(../images/export.png) center center no-repeat;
    margin-left: 10px;
    border: none;
    border-radius:0;
    width:42px; height:34px; outline:none;
}
#acc_report_check_table_wraper {
    height: 400px;
    overflow-y: auto;
}
table > thead > tr > th {
    vertical-align: middle !important;
}
table .form_block {
    margin-bottom: 0px;
}



/*
 * Component: Box
 * --------------
 */

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box.box-primary {
    border-top-color: #3c8dbc;
}
.box.box-info {
    border-top-color: #00c0ef;
}
.box.box-danger {
    border-top-color: #dd4b39;
}
.box.box-warning {
    border-top-color: #f39c12;
}
.box.box-success {
    border-top-color: #00a65a;
}
.box.box-default {
    border-top-color: #d2d6de;
}
.box.collapsed-box .box-body,
.box.collapsed-box .box-footer {
    display: none;
}
.box .nav-stacked > li {
    border-bottom: 1px solid #f4f4f4;
    margin: 0;
}
.box .nav-stacked > li:last-of-type {
    border-bottom: none;
}
.box.height-control .box-body {
    max-height: 300px;
    overflow: auto;
}
.box .border-right {
    border-right: 1px solid #f4f4f4;
}
.box .border-left {
    border-left: 1px solid #f4f4f4;
}
.box.box-solid {
    border-top: 0;
}
.box.box-solid > .box-header .btn.btn-default {
    background: transparent;
}
.box.box-solid > .box-header .btn:hover,
.box.box-solid > .box-header a:hover {
    background: rgba(0, 0, 0, 0.1);
}
.box.box-solid.box-default {
    border: 1px solid #d2d6de;
}
.box.box-solid.box-default > .box-header {
    color: #444444;
    background: #d2d6de;
    background-color: #d2d6de;
}
.box.box-solid.box-default > .box-header a,
.box.box-solid.box-default > .box-header .btn {
    color: #444444;
}
.box.box-solid.box-primary {
    border: 1px solid #3c8dbc;
}
.box.box-solid.box-primary > .box-header {
    color: #ffffff;
    background: #3c8dbc;
    background-color: #3c8dbc;
}
.box.box-solid.box-primary > .box-header a,
.box.box-solid.box-primary > .box-header .btn {
    color: #ffffff;
}
.box.box-solid.box-info {
    border: 1px solid #00c0ef;
}
.box.box-solid.box-info > .box-header {
    color: #ffffff;
    background: #00c0ef;
    background-color: #00c0ef;
}
.box.box-solid.box-info > .box-header a,
.box.box-solid.box-info > .box-header .btn {
    color: #ffffff;
}
.box.box-solid.box-danger {
    border: 1px solid #dd4b39;
}
.box.box-solid.box-danger > .box-header {
    color: #ffffff;
    background: #dd4b39;
    background-color: #dd4b39;
}
.box.box-solid.box-danger > .box-header a,
.box.box-solid.box-danger > .box-header .btn {
    color: #ffffff;
}
.box.box-solid.box-warning {
    border: 1px solid #f39c12;
}
.box.box-solid.box-warning > .box-header {
    color: #ffffff;
    background: #f39c12;
    background-color: #f39c12;
}
.box.box-solid.box-warning > .box-header a,
.box.box-solid.box-warning > .box-header .btn {
    color: #ffffff;
}
.box.box-solid.box-success {
    border: 1px solid #00a65a;
}
.box.box-solid.box-success > .box-header {
    color: #ffffff;
    background: #00a65a;
    background-color: #00a65a;
}
.box.box-solid.box-success > .box-header a,
.box.box-solid.box-success > .box-header .btn {
    color: #ffffff;
}
.box.box-solid > .box-header > .box-tools .btn {
    border: 0;
    box-shadow: none;
}
.box.box-solid[class*='bg'] > .box-header {
    color: #fff;
}
.box .box-group > .box {
    margin-bottom: 5px;
}
.box .knob-label {
    text-align: center;
    color: #333;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 0.3em;
}
.box > .overlay,
.overlay-wrapper > .overlay,
.box > .loading-img,
.overlay-wrapper > .loading-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.box .overlay,
.overlay-wrapper .overlay {
    z-index: 50;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
}
.box .overlay > .fa,
.overlay-wrapper .overlay > .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}
.box .overlay.dark,
.overlay-wrapper .overlay.dark {
    background: rgba(0, 0, 0, 0.5);
}
.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
    content: " ";
    display: table;
}
.box-header:after,
.box-body:after,
.box-footer:after {
    clear: both;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.collapsed-box .box-header.with-border {
    border-bottom: none;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion {
    margin-right: 5px;
}
.box-header > .box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}
.box-header > .box-tools [data-toggle="tooltip"] {
    position: relative;
}
.box-header > .box-tools.pull-right .dropdown-menu {
    right: 0;
    left: auto;
}
.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}
.open .btn-box-tool,
.btn-box-tool:hover {
    color: #606c84;
}
.btn-box-tool.btn:active {
    box-shadow: none;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.no-header .box-body {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.box-body > .table {
    margin-bottom: 0;
}
.box-body .fc {
    margin-top: 5px;
}
.box-body .full-width-chart {
    margin: -19px;
}
.box-body.no-padding .full-width-chart {
    margin: -9px;
}
.box-body .box-pane {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
}
.box-body .box-pane-right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #ffffff;
}
.chart-legend {
    margin: 10px 0;
}

@media (max-width: 991px) {
    .chart-legend > li {
        float: left;
        margin-right: 10px;
    }
}
.box-comments {
    background: #f7f7f7;
}
.box-comments .box-comment {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}
.box-comments .box-comment:before,
.box-comments .box-comment:after {
    content: " ";
    display: table;
}
.box-comments .box-comment:after {
    clear: both;
}
.box-comments .box-comment:last-of-type {
    border-bottom: 0;
}
.box-comments .box-comment:first-of-type {
    padding-top: 0;
}
.box-comments .box-comment img {
    float: left;
}
.box-comments .comment-text {
    margin-left: 40px;
    color: #555;
}
.box-comments .username {
    color: #444;
    display: block;
    font-weight: 600;
}
.box-comments .text-muted {
    font-weight: 400;
    font-size: 12px;
}

/*
 * Component: Info Box
 * -------------------
 */
.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}
.info-box small {
    font-size: 14px;
}
.info-box .progress {
    background: rgba(0, 0, 0, 0.2);
    margin: 5px -10px 5px -10px;
    height: 2px;
}
.info-box .progress,
.info-box .progress .progress-bar {
    border-radius: 0;
}
.info-box .progress .progress-bar {
    background: #fff;
}
.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.2);
}
.info-box-icon-fa {
    font-size: 30px;
}
.info-box-icon > img {
    max-width: 100%;
}
.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}
.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-top: 25px;
}
.progress-description,
.info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-box-text {
    text-transform: uppercase;
}
.info-box-more {
    display: block;
}
.progress-description {
    margin: 0;
}

/* Colours */
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black,
.bg-red-active,
.bg-yellow-active,
.bg-aqua-active,
.bg-blue-active,
.bg-light-blue-active,
.bg-green-active,
.bg-navy-active,
.bg-teal-active,
.bg-olive-active,
.bg-lime-active,
.bg-orange-active,
.bg-fuchsia-active,
.bg-purple-active,
.bg-maroon-active,
.bg-black-active,
.callout.callout-danger,
.callout.callout-warning,
.callout.callout-info,
.callout.callout-success,
.alert-success,
.alert-danger,
.alert-error,
.alert-warning,
.alert-info,
.label-danger,
.label-info,
.label-warning,
.label-primary,
.label-success,
.modal-primary .modal-body,
.modal-primary .modal-header,
.modal-primary .modal-footer,
.modal-warning .modal-body,
.modal-warning .modal-header,
.modal-warning .modal-footer,
.modal-info .modal-body,
.modal-info .modal-header,
.modal-info .modal-footer,
.modal-success .modal-body,
.modal-success .modal-header,
.modal-success .modal-footer,
.modal-danger .modal-body,
.modal-danger .modal-header,
.modal-danger .modal-footer {
    color: #fff !important;
}
.bg-gray {
    color: #000;
    background-color: #d2d6de !important;
}
.bg-gray-light {
    background-color: #f7f7f7;
}
.bg-black {
    background-color: #111111 !important;
}
.bg-red,
.callout.callout-danger,
.alert-danger,
.alert-error,
.label-danger,
.modal-danger .modal-body {
    background-color: #dd4b39 !important;
}
.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-warning,
.modal-warning .modal-body {
    background-color: #f39c12 !important;
}
.bg-aqua,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
    background-color: #00c0ef !important;
}
.bg-blue {
    background-color: #0073b7 !important;
}
.bg-light-blue,
.label-primary,
.modal-primary .modal-body {
    background-color: #3c8dbc !important;
}
.bg-green,
.callout.callout-success,
.alert-success,
.label-success,
.modal-success .modal-body {
    background-color: #00a65a !important;
}
.bg-navy {
    background-color: #001f3f !important;
}
.bg-teal {
    background-color: #39cccc !important;
}
.bg-olive {
    background-color: #3d9970 !important;
}
.bg-lime {
    background-color: #01ff70 !important;
}
.bg-orange {
    background-color: #ff851b !important;
}
.bg-fuchsia {
    background-color: #f012be !important;
}
.bg-purple {
    background-color: #605ca8 !important;
}
.bg-maroon {
    background-color: #d81b60 !important;
}
.bg-gray-active {
    color: #000;
    background-color: #b5bbc8 !important;
}
.bg-black-active {
    background-color: #000000 !important;
}
.bg-red-active,
.modal-danger .modal-header,
.modal-danger .modal-footer {
    background-color: #d33724 !important;
}
.bg-yellow-active,
.modal-warning .modal-header,
.modal-warning .modal-footer {
    background-color: #db8b0b !important;
}
.bg-aqua-active,
.modal-info .modal-header,
.modal-info .modal-footer {
    background-color: #00a7d0 !important;
}
.bg-blue-active {
    background-color: #005384 !important;
}
.bg-light-blue-active,
.modal-primary .modal-header,
.modal-primary .modal-footer {
    background-color: #357ca5 !important;
}
.bg-green-active,
.modal-success .modal-header,
.modal-success .modal-footer {
    background-color: #008d4c !important;
}
.bg-navy-active {
    background-color: #001a35 !important;
}
.bg-teal-active {
    background-color: #30bbbb !important;
}
.bg-olive-active {
    background-color: #368763 !important;
}
.bg-lime-active {
    background-color: #00e765 !important;
}
.bg-orange-active {
    background-color: #ff7701 !important;
}
.bg-fuchsia-active {
    background-color: #db0ead !important;
}
.bg-purple-active {
    background-color: #555299 !important;
}
.bg-maroon-active {
    background-color: #ca195a !important;
}
[class^="bg-"].disabled {
    opacity: 0.65;
    filter: alpha(opacity=65);
}
.text-red {
    color: #dd4b39 !important;
}
.text-yellow {
    color: #f39c12 !important;
}
.text-aqua {
    color: #00c0ef !important;
}
.text-blue {
    color: #0073b7 !important;
}
.text-black {
    color: #111111 !important;
}
.text-light-blue {
    color: #3c8dbc !important;
}
.text-green {
    color: #00a65a !important;
}
.text-gray {
    color: #d2d6de !important;
}
.text-navy {
    color: #001f3f !important;
}
.text-teal {
    color: #39cccc !important;
}
.text-olive {
    color: #3d9970 !important;
}
.text-lime {
    color: #01ff70 !important;
}
.text-orange {
    color: #ff851b !important;
}
.text-fuchsia {
    color: #f012be !important;
}
.text-purple {
    color: #605ca8 !important;
}
.text-maroon {
    color: #d81b60 !important;
}
.link-muted {
    color: #7a869d;
}
.link-muted:hover,
.link-muted:focus {
    color: #606c84;
}
.link-black {
    color: #666;
}
.link-black:hover,
.link-black:focus {
    color: #999;
}
a.info-box {
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
a.info-box:hover {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
a.info-box .info-box-content {
    color: #333;
}
h3.dash_section_heads {
    text-transform: uppercase;
    margin: 15px 0px;
    font-size: 21px;
}
.validation_error {
    margin: 3px 0px 0px 0px;
    font-size: 13px;
}
#package_rate_show {
    padding-left: 7px;
}
.aj_acc_check ul.aj_live_items {
    max-height: 200px;
    overflow-y: auto;
}

.dash_row {
    margin: 0px -7px;
}
.dash_box {
    float: left;
    width: 20%;
    padding: 0px 7px;
}
.dash_box a.info-box {
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    width: 100%;
    display: block;
    background: #fff;
    float: none;
    margin: 0px;
}
a.info-box {
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    width: 200px;
    float: left;
    margin-left: 17px;
    display: block;
    background: #fff;
}
.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 100%;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    /*background: rgba(0, 0, 0, 0.2);*/
    background: #fff;
    color: #7b7b7b !important;
}
.info-box-content{
    margin-left: 0;
    text-align: center;
    padding: 0;
}
.info-box-number{
    padding: 0;
    height: 30px;
    margin-top: 90px;
    font-size: 16px;
    line-height: 30px;
}
a.info-box:hover .aqua,
a.info-box:hover .bg-aqua{
    background: #00c0ef !important;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
a.info-box:hover .red,
a.info-box:hover .bg-red{
    background: #dd4b39 !important;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
a.info-box:hover .green,
a.info-box:hover .bg-green{
    background-color: #00a65a !important;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
a.info-box:hover .yellow,
a.info-box:hover .bg-yellow{
    background-color: #f39c12 !important;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
a.info-box:hover .purple,
a.info-box:hover .bg-purple{
    background-color: #605ca8 !important;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
a.info-box:hover .info-box-icon{
    color: #fff !important;

}
a.info-box:hover.info-box-content{
    color: #fff !important;
}

.bg-aqua,.bg-purple,.bg-yellow,.bg-green,.bg-red{
    background-color: #fff !important;
}
h3.dash_section_heads {
    text-transform: uppercase;
    margin: 15px 0px 0px 0px;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    background-color: #656b6f;
    padding: 7px;
    color: #FFF;
}
.info-box-content span{
    color: #7b7b7b !important;
}
a.info-box:hover .info-box-content span{
    color: #fff !important;
}